<!DOCTYPE html>
<html>
<head>
    <title>Golang</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>
<h1 class="text">Golang Socket</h1>
<table>
    <tr>
        <th>Golang Client</th>
        <th>Python Server</th>
    </tr>
    <tr>
        <td>{{.Inputs}}</td>
        <td>{{.Outputs}}</td>
    </tr>
</table>
</body>
</html>